/****** Basic Varibles for size, color, background color *******/
@font-face{
    font-family:"futura-pt-bold";
    src:url("./../../assets/fonts/FuturaPT/FuturaPTBold.otf") format("woff"),
    url("./../../assets/fonts/FuturaPT/FuturaPTBold.otf") format("opentype"),
    url("./../assets/fonts/FuturaPT/FuturaPTBold.otf") format("truetype");
}

@font-face{
    font-family:"futura-pt-demi";
    src:url("./../../assets/fonts/FuturaPT/FuturaPTDemi.otf") format("woff"),
    url("./../../assets/fonts/FuturaPT/FuturaPTDemi.otf") format("opentype"),
    url("./../../assets/fonts/FuturaPT/FuturaPTDemi.otf") format("truetype");
}
@font-face{
    font-family:"futura-pt-light";
    src:url("./../../assets/fonts/FuturaPT/FuturaPTLight.otf") format("woff"),
    url("./../../assets/fonts/FuturaPT/FuturaPTLight.otf") format("opentype"),
    url("./../../assets/fonts/FuturaPT/FuturaPTLight.otf") format("truetype");
}
@font-face{
    font-family:"futura-pt-cond-medium";
    src:url("./../../assets/fonts/FuturaPT/FuturaPTCondMedium.otf") format("woff"),
    url("./../../assets/fonts/FuturaPT/FuturaPTCondMedium.otf") format("opentype"),
    url("./../../assets/fonts/FuturaPT/FuturaPTCondMedium.otf") format("truetype");
}

:root {
    --primary-color: #3b82f6;
    --primary-color-hover: #226ee8;
    --secondary-color: #eff6ff;
    --background-color:#06f;
    --primary-text-color:black;
    --secondory-text-color:#636369;
    --accent-color:'';
    --primaryColorFaint:#3b82f61a;
    /* Below Call to Action Colors */
    --warningColor: #ff9800;
    --dangerColor: #f44336;
    --successColor: #4caf50;
    --lightColor:#f7f7f7;
    --darkColor:black;
    --infoColor:#129fe0;

    --lightDanger: rgb(253, 236, 234);
    --lightWarning: #fff4e5;
    --lightInfo: #e8f4fd;
    --lightSuccess: #edf7ed;

    --primary-color-hover: #a0b8df;
    --secondory-text-color-hover:#65656ef3;
    --warningColor-Hover: #f0c88c;
    --dangerColor-hover: #f88f87;
    --successColor-hover: #99c99b;
    --lightColor-hover:#f7f7f7a2;
    --darkColor-hover:rgb(68, 68, 68);
    --infoColor-hover:#a7dcf5;
    



    /* Below One Heading font sizes for extra small, small, medium , large, extra large, extra extra large */
    --h5-font-size:0.8rem;
    --h4-font-size:1.6rem;
    --h3-font-size:2.4rem;
    --h2-font-size:3.2rem;
    --h1-font-size:4.8rem;

    /* Below One Text Utilities font sizes for extra small, small, medium , large, extra large, extra extra large */
    --text-xs-font-size:0.8rem;
    --text-sm-font-size:1.6rem;
    --text-md-font-size:2.4rem;
    --text-lg-font-size:3.2rem;
    --text-xl-font-size:4.8rem;
    
   
    --imgRoundRadius:50%;
    /* Below One padding size for extra small, small, medium , large, extra large, extra extra large */
    --pad-xs:0.8rem;
    --pad-sm:1.6rem;
    --pad-md:2.4rem;
    --pad-lg:3.2rem;
    --pad-xl:4rem;
    --pad-xxl:6.4rem;
    --pad-infinite:10rem;

    /* Below One margin size for extra small, small, medium , large, extra large, extra extra large */
    --mar-xs:0.8rem;
    --mar-sm:1.6rem;
    --mar-md:2.4rem;
    --mar-lg:3.2rem;
    --mar-xl:4rem;
    --mar-xxl:6.4rem;
    --mar-infinite:10rem;

    --sm-border-radius:0.5rem;
    --md-border-radius:1rem;
    --lgborder-radius:1.5rem;
    --xl-border-radius:50%;

    --futuraPTBold:"futura-pt-bold";
    --futuraPTDemi:"futura-pt-demi";
    --futuraPTMedium:"futura-pt-medium";
    --futuraPTLight:"futura-pt-light";

}

*, *::before, *::after {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size:62.5%;
}
/******  Colors ********/
.secondory-text {
    color:var(--secondory-text-color)
}
.bold {
    font-weight:800;
}
.imp-highlight-text {
    color:var(--primary-color);
    border: 1px solid transparent;
    background: var(--primaryColorFaint);
}
/******  Layout classes ********/
.img_container {
    width: max-content;
    border: 1px solid;
}
img {
    max-inline-size: 100%;
    block-size: auto;
}
/******  Typography  ********/
/******  Spacing  ********/
/******  Height-Utility-classes  ********/
.sm-height {
    height: 5rem;
}

.md-height {
    height: 7rem;
}

.xl-height {
    height: 10rem;

}
.md-height {
    height: 7rem;
}
.xl-height {
    height: 10rem;

}

/******  Border Radius-Utility-classes  ********/
.sm-bdr-radius {
    border-radius:var(--sm-border-radius);
}

.md-bdr-radius {
    border-radius:var(--md-border-radius);
}

.lg-bdr-radius {
    border-radius:var(--lg-border-radius);
}

.xl-bdr-radius {
    border-radius:var(--xl-border-radius);
}






/******  font-sizes  ********/
/******  Heading Typography ********/
.head-1 {
    font-family: var(--futuraPTBold);
    font-size:var(--h1-font-size);
    line-height:6.4rem;
    font-weight: 900;
}

.head-2 {
    font-family: var(--futuraPTDemi);
    font-size:var(--h2-font-size);
    line-height:4rem;
    font-weight:700;
}
.head-3 {
    font-family: var(--futuraPTMedium);
    font-size:var(--h3-font-size);
    line-height:3.2rem;
    font-weight:600;
}
.head-4 {
    font-family: var(--futuraPTLight);
    font-size:var(--h4-font-size);
    line-height:2.4rem;
    font-weight: 400;
}
.head-5 {
    font-family: var(--futuraPTLight);
    font-size:var(--h5-font-size);
    line-height:1.6rem;
    font-weight:300;
}
/******  Text Typography ********/
.text-1 {
    font-family: var(--futuraPTLight);
    font-size:var(--text-xs-font-size);
    font-weight: 100;
    line-height: 1.6rem;
}

.text-2 {
    font-family: var(--futuraPTLight);
    font-size:var(--text-sm-font-size);
    font-weight: 100;
    line-height: 2.4rem;
}

.text-3 {
    font-family: var(--futuraPTLight);
    font-size:var(--text-md-font-size);
    font-weight: 100;
    line-height: 3.2rem;
}

.text-4 {
    font-family: var(--futuraPTLight);
    font-size:var(--text-lg-font-size);
    font-weight: 100;
    line-height: 4rem;
}

.text-5 {
    font-family: var(--futuraPTMedium);
    font-size:var(--text-lg-font-size);
    font-weight: 600;
    line-height: 6.4rem;
}


/******  Padding Utility classes  ********/

/******  Padding Y axis classes  ********/
.pad-y-1 {
    padding-top: var(--pad-xs);
}

.pad-y-2 {
    padding-top: var(--pad-sm);
}

.pad-y-3 {
    padding-top: var(--pad-md);
}

.pad-y-4 {
    padding-top: var(--pad-xl);
}

.pad-y-5 {
    padding-top: var(--pad-xl);
}

.pad-y-6 {
    padding-top: var(--pad-xxl);
}

/******  Padding X Axis classes  ********/
.pad-x-1 {
    padding-right: var(--pad-xs);
}

.pad-x-2 {
    padding-right: var(--pad-sm);
}

.pad-x-3 {
    padding-right: var(--pad-md);
}

.pad-x-4 {
    padding-right: var(--pad-xl);
}

.pad-x-5 {
    padding-right: var(--pad-xl);
}

.pad-x-6 {
    padding-right: var(--pad-xxl);
}

/******  Padding All Direction  ********/
.pad-xs {
    padding: var(--pad-xs);
}

.pad-sm {
    padding: var(--pad-sm);
}

.pad-md {
    padding: var(--pad-md);
}

.pad-lg {
    padding: var(--pad-lg);
}

.pad-xl {
    padding: var(--pad-xl);
}

.pad-xxl {
    padding: var(--pad-xxl);
}
.pad-largest {
    padding: var(--pad-infinite);
}


/******  Margin Utility classes  ********/

/******  Margin Y axis classes  ********/
.mar-y-1 {
    margin-top: var(--mar-xs);
}

.mar-y-2 {
    margin-top: var(--mar-sm);
}

.mar-y-3 {
    margin-top: var(--mar-md);
}

.mar-y-4 {
    margin-top: var(--mar-xl);
}

.mar-y-5 {
    margin-top: var(--mar-xl);
}

.mar-y-6 {
    margin-top: var(--mar-xxl);
}

/******  margin X Axis classes  ********/
.mar-x-1 {
    margin-right: var(--mar-xs);
}

.mar-x-2 {
    margin-right: var(--mar-sm);
}

.mar-x-3 {
    margin-right: var(--mar-md);
}

.mar-x-4 {
    margin-right: var(--mar-xl);
}

.mar-x-5 {
    margin-right: var(--mar-xl);
}

.mar-x-6 {
    margin-right: var(--mar-xxl);
}

/******  margin All Direction  ********/
.mar-xs {
    margin: var(--mar-xs);
}

.mar-sm {
    margin: var(--mar-sm);
}

.mar-md {
    margin: var(--mar-md);
}

.mar-lg {
    margin: var(--mar-lg);
}

.mar-xl {
    margin: var(--mar-xl);
}

.mar-xxl {
    margin: var(--mar-xxl);
}

.mar-infinite {
    margin: var(--mar-infinite);
}


/* Grid System */
/******  Col based Grid System  ********/
.grid-row {
    display: flex;
    flex-direction: row;
}
.grid-column {
    display: flex;
    flex-direction: column;
}
.grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(auto, [row] auto);
    grid-gap: 1em;
    grid-row-gap: 15px;
  }
  
  .col {
    background: #eee;
    text-transform: uppercase;
    padding: 1em;
    font-size: 14px;
    
  }
  
  /* Three Column Based Grid System */

  .col-sm-1 {
    grid-column: col / span 3;
    grid-row: row;
  }

  .col-sm-2 {
    grid-column: col 4 / span 3;
    grid-row: row;
  }

  .col-sm-3 {
    grid-column: col 7 / span 3;
    grid-row: row;
  }

  .col-sm-4 {
    grid-column: col 10 / span 3;
    grid-row: row;
  }

  /* Four Column Based Grid System */
  
  .col-md-1 {
    grid-column: col / span 4;
    grid-row: row;
  }

  .col-md-2 {
    grid-column: col 5 / span 4;
    grid-row: row;
  }

  .col-md-3 {
    grid-column: col 9 / span 4;
    grid-row: row;
  }

  /* Six Column Based Grid System */

  .col-xl-1 {
    grid-column: col  / span 6;
    grid-row: row;
  }

  .col-xl-2 {
    grid-column: col 7 / span 12;
    grid-row: row;
  }
  /* Utility Class system */
    .hide {
	    opacity: 0;
	    pointer-events: none;
    }

    .deco-none {
        text-decoration: none;
    }
    .list-type-none {
        list-style-type: none;
    }
    .main-content-description--list {
        padding-left: 4rem;
        line-height: 1.6;
    }

  /* Starting Template for entire Project Holy Grail Layout */
    .container {
        margin:0;
        padding:0;
        display: grid;
        height: 100vh;
        grid-template-columns:30rem 1fr;
        
        grid-template-areas: 
        "header header"
        "aside main"
        "footer footer"
        ;
      
    }
  /* Header Component For Entire Project */
    .header_container header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        background: var(--background-color);
        padding: var(--pad-md) var(--pad-xxl);
        grid-column: header;
  
    } 

    .header_container header.sticky {
	    background: #fff;  
	    padding: var(--pad-md) var(--pad-xxl);
	    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.1);
	    color: var(--primary-text-color);
    }
    .header_container header.sticky .logo {
	    color: var(--primary-text-color); 
    }
    .header_container header.sticky ul li a {
	    color: var(--primary-text-color);
    }

    .header_container header .logo {
	    color: #fff;
        text-transform: uppercase;
	    text-decoration: none;
        letter-spacing: 0.2rem;
    }

    .header_container header ul {
	    position: relative;
	    display: flex;
    }
    .header_container header ul li {
	    position: relative;
	    list-style: none;	
    }
    .header_container header ul li a {
	    position: relative;
	    display: inline-block;
	    margin: 0 var(--mar-md);
	    color: #fff;
	    text-decoration: none;
    }

    
    /* Aside For Entire Project */
    aside {
        padding: var(--pad-xxl) var(--pad-xxl) 0 0;
        box-shadow: 0.1rem 0.1rem 1.3rem 0.1rem #000000a6;
        position: relative;
        grid-column: aside;
        margin: 2rem 0;
    }

    

    .container aside .side-list ul li {
        display: flex;
        align-items: center;
        width: 26rem;
        margin: 2rem;
    }

    .container aside .side-list ul li:hover {
        background-color:var(--primaryColorFaint);
        border-bottom: 3px solid var(--primary-color);
    }

    .container aside .side-list ul li svg {
        margin-right: 4rem;
        color: var(--primary-color);
    }
    
    .container aside .side-list ul li a {
        text-decoration: none;
        color: var(--primary-color);
    }
    /* Main Section For Entire Project */
    .main-content {
        grid-column:main;
        padding: var(--pad-lg) var(--pad-xxl);
        margin: var(--mar-xxl) 0;
    }
    .basic_container {
        width:100%;
        border: 1px solid;
    }
    .basic_container img {
        margin: 0 auto;
        margin: 1rem auto;
        display: flex;
    }
    

  


