<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../../styles/main.css" />
    <script src="./../../script/header.js" defer></script>
    <script src="./../../script/navigation.js" defer></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <title>Typography</title>
  </head>
  <body>
    <div class="container">
      <div class="header_container">
        <header class="sticky">
          <img
            class="img_logo"
            src="./../../assets/image section/logo.png"
            height="50"
            width="50"
            alt=""
          />
          <a href="#" class="logo head-2">Memorable-UI </a>
          <div class="toggle" onclick="toggleMenu();"></div>
          <ul class="menu hide">
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Avatar/avatar.html"
                >Avatar</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Alert/Alert.html"
                >Alert</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Badge/bagde.html"
                >Badge</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Button/button.html"
                >Button</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Card/card.html"
                >Card</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Image/image.html"
                >Image</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Input/input.html"
                >Input</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Modal/modal.html"
                >Modal</a
              >
            </li>
            <li>
              <a onclick="toggleMenu();" class="text-1" href="#">Navigation</a>
            </li>
            <li>
              <a onclick="toggleMenu();" class="text-1" href="#">Rating</a>
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Simplified Grid/simplified-grid.html"
                >Simplified Grid</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Typography/typography.html"
                >Typography</a
              >
            </li>
          </ul>
          <ul class="menu left_auto">
            <li><a class="text-3" onclick="toggleMenu();">Documentation</a></li>
            <div class="btn-round">
              <button class="btn-primary xl-bdr-radius pad-xs">
                <a href="https://www.github.com/">
                  <span
                    class="iconify"
                    data-icon="akar-icons:github-fill"
                  ></span>
                </a>
              </button>
            </div>
          </ul>
        </header>
      </div>
      <aside class="aside">
        <div class="side-list">
          <ul class="text-3">
            <h2 class="text-4 mar-md mar-y-4 imp-highlight-text">
              Getting Started
            </h2>
            <li class="pad-xs aside-list list-type-none">
              <span class="iconify" data-icon="carbon:user-avatar"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./Componnents/avatar.html"
                >Avatar</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span
                class="iconify"
                data-icon="eva:alert-triangle-outline"
              ></span>
              <a class="btn-primary-outline-non deco-none" href="#">Alert</a>
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="fluent:badge-20-filled"></span>
              <a class="btn-primary-outline-non deco-none" href="#">Badge</a>
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="dashicons:button"></span>
              <a class="btn-primary-outline-non deco-none" href="#">Button</a>
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="charm:cards"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./Componnents/cards/card.html"
                >Card</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="bi:file-earmark-image"></span>
              <a class="btn-primary-outline-non deco-none" href="#">Image</a>
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="whh:html"></span>
              <a class="btn-primary-outline-non deco-none" href="#">Input</a>
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="vaadin:modal-list"></span>
              <a class="btn-primary-outline-non deco-none" href="#">Modal</a>
            </li>
            <li class="pad-xs list-type-none">
              <span
                class="iconify"
                data-icon="fluent:navigation-16-regular"
              ></span>
              <a class="btn-primary-outline-non deco-none" href="#"
                >Navigation</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="ic:twotone-star-rate"></span>
              <a class="btn-primary-outline-non deco-none" href="#">Rating</a>
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="bi:grid-1x2"></span>
              <a class="btn-primary-outline-non deco-none" href="#"
                >Simplified Grid</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="octicon:typography-24"></span>
              <a class="btn-primary-outline-non deco-none" href="#"
                >Typography</a
              >
            </li>
          </ul>
        </div>
      </aside>
      <div class="main-content content-wrap">
        <div class="text-5 highlightMainText">Typography</div>
        <hr class="mar-y-3" />
        <div class="main-content-subblock">
          <div class="text-5 mar-y-4">Heading Utilities</div>
          <p class="mar-y-2 text-3">
            Memorable-UI includes a wide range of shorthand heading different
            sizes, such as -
          </p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li class="list-type-none text-3">
              Head-1 <span class="imp-highlight-text">(4.8rem)</span>
            </li>
            <li class="list-type-none text-3">
              Head-2 <span class="imp-highlight-text">(3.2rem)</span>
            </li>
            <li class="list-type-none text-3">
              Head-3 <span class="imp-highlight-text">(2.4rem)</span>
            </li>
            <li class="list-type-none text-3">
              Head-4 <span class="imp-highlight-text">(1.6rem)</span>
            </li>
            <li class="list-type-none text-3">
              Head-5 <span class="imp-highlight-text">(0.8rem)</span>
            </li>
          </ul>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li class="list-type-none head-5">Head-5</li>
            <li class="list-type-none head-4">Head-4</li>
            <li class="list-type-none head-3">Head-3</li>
            <li class="list-type-none head-2">Head-2</li>
            <li class="list-type-none head-1">Head-1</li>
          </ul>
          <div class="img_container pad-md mar-y-2">
            <iframe
              src="https://carbon.now.sh/embed/d0nWBK492HahNQFASnBX"
              style="
                width: 403px;
                height: 281px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="text-4 mar-y-4">Text Utilities</div>
          <p class="mar-y-2 text-3">
            Memorable-UI includes a wide range of shorthand Text sizes, such as
            -
          </p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li class="list-type-none text-3">
              Text-1 <span class="imp-highlight-text">(0.8rem)</span>
            </li>
            <li class="list-type-none text-3">
              Text-2 <span class="imp-highlight-text">(1.6rem)</span>
            </li>
            <li class="list-type-none text-3">
              Text-3 <span class="imp-highlight-text">(2.4rem)</span>
            </li>
            <li class="list-type-none text-3">
              Text-4 <span class="imp-highlight-text">(3.2rem)</span>
            </li>
            <li class="list-type-none text-3">
              Text-5 <span class="imp-highlight-text">(4.8rem)</span>
            </li>
          </ul>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li class="list-type-none text-5">Text-5</li>
            <li class="list-type-none text-4">Text-4</li>
            <li class="list-type-none text-3">Text-3</li>
            <li class="list-type-none text-2">Text-2</li>
            <li class="list-type-none text-1">Text-1</li>
          </ul>
          <div class="img_container pad-md mar-y-2">
            <iframe
              src="https://carbon.now.sh/embed/TDlmf1k2c1Ih9slTMyuI"
              style="
                width: 291px;
                height: 169px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="text-4 mar-y-4">Spacing Utilities</div>
          <p class="mar-y-2 text-3">
            Memorable-UI includes a wide range of shorthand responsive margin
            and padding utility classes to modify an element’s appearance. It
            comes with different flexible spacing utilities of different sizes,
            such as- extra-small, small, medium, large, extra-large,and
            extra-extra-large. The sizes are defined as -
          </p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li>
              <span class="imp-highlight-text">xs</span> for extra-small
              <span class="imp-highlight-text">(0.8rem)</span>
            </li>
            <li>
              <span class="imp-highlight-text">sm</span> for small
              <span class="imp-highlight-text">(1.6rem)</span>
            </li>
            <li>
              <span class="imp-highlight-text">md</span> for medium
              <span class="imp-highlight-text">(2.4rem)</span>
            </li>
            <li>
              <span class="imp-highlight-text">lg</span> for large
              <span class="imp-highlight-text">(3.2rem)</span>
            </li>
            <li>
              <span class="imp-highlight-text">xl</span> for extra-large
              <span class="imp-highlight-text">(4rem)</span>
            </li>
            <li>
              <span class="imp-highlight-text">lg</span> for extra-extra large
              <span class="imp-highlight-text">(6.4rem)</span>
            </li>
          </ul>
          <div class="text-4 mar-y-4">Padding</div>
          <p class="mar-y-2 text-3">
            The Padding component comes with different flexible sizes, which can
            be used as -
          </p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li>pad-xs</li>
            <li>pad-sm</li>
            <li>pad-md</li>
            <li>pad-lg</li>
            <li>pad-xl</li>
            <li>pad-xxl</li>
            <li>pad-infinite(10rem)</li>
          </ul>
          <div class="img_container pad-md mar-y-2">
            <iframe
              src="https://carbon.now.sh/embed/VNCGk68Mh5wwYI5JLfeU"
              style="
                width: 401px;
                height: 187px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <p class="mar-y-2 text-3">The Padding in positive Y axis -</p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li>pad-y-1 <span class="imp-highlight-text">xs</span></li>
            <li>pad-y-2 <span class="imp-highlight-text">sm</span></li>
            <li>pad-y-3 <span class="imp-highlight-text">md</span></li>
            <li>pad-y-4 <span class="imp-highlight-text">lg</span></li>
            <li>pad-y-5 <span class="imp-highlight-text">xl</span></li>
            <li>pad-y-6 <span class="imp-highlight-text">xxl</span></li>
          </ul>
          <div class="img_container pad-md mar-y-2">
            <iframe
              src="https://carbon.now.sh/embed/bQEdFNIJSjzEhecZ5KAS"
              style="
                width: 308px;
                height: 169px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <p class="mar-y-2 text-3">The Padding in positive X axis -</p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li>pad-x-1 <span class="imp-highlight-text">xs</span></li>
            <li>pad-x-2 <span class="imp-highlight-text">sm</span></li>
            <li>pad-x-3 <span class="imp-highlight-text">md</span></li>
            <li>pad-x-4 <span class="imp-highlight-text">lg</span></li>
            <li>pad-x-5 <span class="imp-highlight-text">xl</span></li>
            <li>pad-x-6 <span class="imp-highlight-text">xxl</span></li>
          </ul>
          <div class="img_container pad-md mar-y-2">
            <iframe
              src="https://carbon.now.sh/embed/Lf83z1RkSnQudeRvx2My"
              style="
                width: 420px;
                height: 281px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="text-4 mar-y-4">Margin</div>
          <p class="mar-y-2 text-3">
            The Margin component comes with different flexible sizes, which can
            be used as -
          </p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li>mar-xs</li>
            <li>mar-sm</li>
            <li>mar-md</li>
            <li>mar-lg</li>
            <li>mar-xl</li>
            <li>mar-xxl</li>
          </ul>
          <div class="img_container pad-md mar-y-2">
            <iframe
              src="https://carbon.now.sh/embed/4wdcS8OZMWMr6u360v0i"
              style="
                width: 308px;
                height: 169px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <p class="mar-y-2 text-3">The Margin in positive Y axis -</p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li>mar-y-1 <span class="imp-highlight-text">xs</span></li>
            <li>mar-y-2 <span class="imp-highlight-text">sm</span></li>
            <li>mar-y-3 <span class="imp-highlight-text">md</span></li>
            <li>mar-y-4 <span class="imp-highlight-text">lg</span></li>
            <li>mar-y-5 <span class="imp-highlight-text">xl</span></li>
            <li>mar-y-6 <span class="imp-highlight-text">xxl</span></li>
          </ul>
          <div class="img_container pad-md mar-y-2">
            <iframe
              src="https://carbon.now.sh/embed/DjIeWtKToCQ06cTiaiB7"
              style="
                width: 308px;
                height: 169px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <p class="mar-y-2 text-3">The Margin in positive X axis -</p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li>mar-x-1 <span class="imp-highlight-text">xs</span></li>
            <li>mar-x-2 <span class="imp-highlight-text">sm</span></li>
            <li>mar-x-3 <span class="imp-highlight-text">md</span></li>
            <li>mar-x-4 <span class="imp-highlight-text">lg</span></li>
            <li>mar-x-5 <span class="imp-highlight-text">xl</span></li>
            <li>mar-x-6 <span class="imp-highlight-text">xxl</span></li>
          </ul>
          <div class="img_container pad-md mar-y-2">
            <iframe
              src="https://carbon.now.sh/embed/m7DjbAt9NyiYKBk6F7I7"
              style="
                width: 308px;
                height: 169px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="text-4 mar-y-4">Height Utilities</div>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li>sm-height <span class="imp-highlight-text">(5rem)</span></li>
            <li>md-height<span class="imp-highlight-text">(7rem)</span></li>
            <li>xl-height<span class="imp-highlight-text">(10rem)</span></li>
          </ul>
          <div class="img_container pad-md mar-y-2">
            <iframe
              src="https://carbon.now.sh/embed/IcM8YEgq8L17KGzA2ssY"
              style="
                width: 308px;
                height: 169px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="text-4 mar-y-4">Border Radius Utilities</div>
          <p class="text-3">
            Border Radius comes with small
            <span class="imp-highlight-text">(0.5rem)</span>, mediums
            <span class="imp-highlight-text">(1rem)</span>, large
            <span class="imp-highlight-text">(1.5rem)</span> and extra large
            <span class="imp-highlight-text">(50%)</span>
          </p>
          <div class="img_container sm-bdr-radius mar-y-2 pad-md">
            small Border Radius
          </div>

          <div class="img_container md-bdr-radius mar-y-2 pad-md">
            Medium Border Radius
          </div>

          <div class="img_container lg-bdr-radius mar-y-2 pad-md">
            large Border Radius
          </div>

          <div class="img_container xl-bdr-radius mar-y-2 pad-md">
            extra large Border Radius
          </div>
          <div class="img_container pad-md mar-y-2">
            <iframe
              src="https://carbon.now.sh/embed/cxzjR9sAdfoFhsb2x9ev"
              style="
                width: 308px;
                height: 169px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
