<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Vrushabh Dhatrak" />
    <meta
      name="description"
      content="The Card component is used to convey information about some particular topic/item."
    />
    <link rel="stylesheet" href="./../../styles/main.css" />
    <script src="./../../script/header.js" defer></script>
    <script src="./../../script/navigation.js" defer></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <title>Cards</title>
  </head>
  <body>
    <div class="container">
      <div class="header_container">
        <header class="sticky">
          <img
            class="img_logo"
            src="./../../assets/image section/logo.png"
            height="50"
            width="50"
            alt=""
          />
          <a href="#" class="logo head-2">Memorable-UI </a>
          <div class="toggle" onclick="toggleMenu();"></div>
          <ul class="menu hide">
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Avatar/avatar.html"
                >Avatar</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Alert/Alert.html"
                >Alert</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Badge/bagde.html"
                >Badge</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Button/button.html"
                >Button</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Card/card.html"
                >Card</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Image/image.html"
                >Image</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Input/input.html"
                >Input</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Modal/modal.html"
                >Modal</a
              >
            </li>
            <li>
              <a onclick="toggleMenu();" class="text-1" href="#">Navigation</a>
            </li>
            <li>
              <a onclick="toggleMenu();" class="text-1" href="#">Rating</a>
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Simplified Grid/simplified-grid.html"
                >Simplified Grid</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Typography/typography.html"
                >Typography</a
              >
            </li>
          </ul>
          <ul class="menu left_auto">
            <li><a class="text-3" onclick="toggleMenu();">Documentation</a></li>
            <div class="btn-round">
              <button class="btn-primary xl-bdr-radius pad-xs">
                <a href="https://www.github.com/">
                  <span
                    class="iconify"
                    data-icon="akar-icons:github-fill"
                  ></span>
                </a>
              </button>
            </div>
          </ul>
        </header>
      </div>
      <aside class="aside">
        <div class="side-list">
          <ul class="text-3">
            <h2 class="text-4 mar-md mar-y-4 imp-highlight-text">
              Getting Started
            </h2>
            <li class="pad-xs aside-list list-type-none">
              <span class="iconify" data-icon="carbon:user-avatar"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Avatar/avatar.html"
                >Avatar</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span
                class="iconify"
                data-icon="eva:alert-triangle-outline"
              ></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Alert/Alert.html"
                >Alert</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="fluent:badge-20-filled"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Badge/bagde.html"
                >Badge</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="dashicons:button"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Button/button.html"
                >Button</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="charm:cards"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Card/card.html"
                >Card</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="bi:file-earmark-image"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Image/image.html"
                >Image</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="whh:html"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Input/input.html"
                >Input</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="vaadin:modal-list"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Modal/modal.html"
                >Modal</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span
                class="iconify"
                data-icon="fluent:navigation-16-regular"
              ></span>
              <a class="btn-primary-outline-non deco-none" href="#"
                >Navigation</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="ic:twotone-star-rate"></span>
              <a class="btn-primary-outline-non deco-none" href="#">Rating</a>
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="bi:grid-1x2"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Simplified Grid/simplified-grid.html"
                >Simplified Grid</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="octicon:typography-24"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Typography/typography.html"
                >Typography</a
              >
            </li>
          </ul>
        </div>
      </aside>
      <div class="main-content content-wrap">
        <div class="text-5 highlightMainText">Card</div>
        <hr class="mar-y-3" />
        <p class="mar-y-2 text-3">
          The Card component is used to convey information about some particular
          topic/item.
        </p>
        <p class="text-3 mar-y-2">
          The Card Component comes with different container sizes
        </p>

        <ul class="text-3 main-content-description--list mar-y-2">
          <li class="list-type-none text-3 mar-y-2">
            <span class="imp-highlight-text">xs-card-width(20rem)</span>
          </li>
          <li class="list-type-none text-3 mar-y-2">
            <span class="imp-highlight-text">sm-card-width(25rem)</span>
          </li>
          <li class="list-type-none text-3 mar-y-2">
            <span class="imp-highlight-text">md-card-width(30rem)</span>
          </li>
          <li class="list-type-none text-3 mar-y-2">
            <span class="imp-highlight-text">lg-card-width(35rem)</span>
          </li>
          <li class="list-type-none text-3 mar-y-2">
            <span class="imp-highlight-text">xl-card-width(40rem)</span>
          </li>
          <li class="list-type-none text-3 mar-y-2">
            <span class="imp-highlight-text">xxl-card-width(45rem)</span>
          </li>
        </ul>

        <div class="main-content-subblock">
          <div class="text-4 mar-y-4 highlightMainText">Cards with badges</div>
          <p class="text-3 mar-y-2">
            Ribbon badges are a great way to highlight something on your
            website, especially on Card UI designs. This simple pure CSS ribbon
            badge can by easily placed on the
            <span class="imp-highlight-text">top left</span>,<span
              class="imp-highlight-text"
              >top right</span
            >,<span class="imp-highlight-text">bottom left</span>,<span
              class="imp-highlight-text"
              >bottom right</span
            >, <span class="imp-highlight-text">top full</span>,
            <span class="imp-highlight-text">bottom full</span>,
            <span class="imp-highlight-text">middle full</span> corner of your
            designs.
          </p>
          <p class="text-3 mar-y-2">
            Card with Badges comes with different colors
          </p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">blue</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">pink</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">orange</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">red</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">green</span>
            </li>
          </ul>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-5 pad-md">
            <div class="container_card xl-card-width">
              <div class="card_header card_badge" data-label="Spl Offers">
                <div class="image-div">
                  <img class="card_img" src="https://picsum.photos/400/200" />
                </div>

                <div class="header">
                  <div class="head-2 highlightMainText">Heading</div>
                  <p class="text-3">Subheading</p>
                </div>
              </div>
              <div class="card_body text-3 mar-md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                libero perferendis laborum quae,
              </div>
              <footer>
                <div class="card_footer text-2 mar-sm pad-sm">
                  <button class="btn-link">Read</button>
                  <button class="btn-link">Bookmark</button>
                  <span
                    class="iconify cursor_"
                    data-icon="icon-park-outline:like"
                  ></span>
                  <span class="iconify cursor_" data-icon="ci:share"></span>
                  <span
                    class="iconify cursor_"
                    data-icon="akar-icons:more-vertical-fill"
                  ></span>
                </div>
              </footer>
            </div>
          </div>
          <iframe
            class="mar-y-2"
            src="https://carbon.now.sh/embed/oOCtuklxabEPLw2Ae9uG"
            style="
              width: 100%;
              height: 615px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
          <div class="text-4 mar-y-4 highlightMainText">Card With Dismiss</div>
          <p class="text-3 mar-y-2">
            The close icon in Memorable-UI is a utility that is used to dismiss
            any content (e.g., Alerts, Modals, Popovers). It is represented by a
            generic cross/close icon. Below is a sample HTML code including a
            close icon for dismissing content in Memorable-UI:
          </p>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <div class="container_card xl-card-width">
              <div class="card_header">
                <div class="mar-sm">
                  <div class="head-2 highlightMainText">Heading</div>
                  <p class="text-3">Subheading</p>
                </div>
                <div class="close_icon text-3 highlightMainText">X</div>

                <div class="image-div">
                  <img class="card_img" src="https://picsum.photos/400/200" />
                </div>
              </div>
              <div class="card_body text-3 mar-md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                libero perferendis laborum quae,
              </div>
              <footer>
                <div class="card_footer text-2 mar-sm pad-sm">
                  <button class="btn-link">Read</button>
                  <button class="btn-link">Bookmark</button>
                  <span
                    class="iconify cursor_"
                    data-icon="icon-park-outline:like"
                  ></span>
                  <span class="iconify cursor_" data-icon="ci:share"></span>
                  <span
                    class="iconify cursor_"
                    data-icon="akar-icons:more-vertical-fill"
                  ></span>
                </div>
              </footer>
              <div class="badge-overlay">
                <span class="bottom-right badge pink">Sale</span>
              </div>
            </div>
          </div>
          <iframe
            class="mar-y-2"
            src="https://carbon.now.sh/embed/zTwgpXOsZgzITxStvD8p"
            style="
              width: 100%;
              height: 690px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
          <div class="text-4 mar-y-4 highlightMainText">
            Card With Text Overlay
          </div>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-5 pad-md">
            <div class="container_card xl-card-width">
              <div class="card_header">
                <div class="image-div">
                  <img class="card_img" src="https://picsum.photos/400/200" />
                </div>

                <div class="sub_card_header">
                  <div class="head-2 highlightMainText">Heading</div>
                  <p class="text-3">Subheading</p>
                </div>
              </div>
              <div class="card_body text-3 mar-md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                libero perferendis laborum quae,
              </div>
              <footer>
                <div class="card_footer text-2 mar-sm pad-sm">
                  <button class="btn-link">Read</button>
                  <button class="btn-link">Bookmark</button>
                  <span
                    class="iconify cursor_"
                    data-icon="icon-park-outline:like"
                  ></span>
                  <span class="iconify cursor_" data-icon="ci:share"></span>
                  <span
                    class="iconify cursor_"
                    data-icon="akar-icons:more-vertical-fill"
                  ></span>
                </div>
              </footer>
              <div class="badge-overlay">
                <span class="top-right badge orange">Sale</span>
              </div>
            </div>
          </div>
          <iframe
            class="mar-y-2"
            src="https://carbon.now.sh/embed/fpad7gfLpDHTuVxPMzzT"
            style="
              width: 100%;
              height: 783px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
          <div class="text-4 mar-y-4 highlightMainText">Text Only Cards</div>
          <p class="text-3 mar-y-2">
            Text Only cards convey information about a product.
          </p>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <div class="container_card xl-card-width">
              <div class="card_header pad-md">
                <div class="head-2 highlightMainText">Heading</div>
                <p class="text-3">Subheading</p>
              </div>
              <div class="card_body text-3 mar-md">
                <p class="text-2">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                  libero perferendis laborum quae,
                </p>
              </div>
              <footer>
                <div class="card_footer text-2 mar-md pad-sm">
                  <button class="btn-link">Read</button>
                  <button class="btn-link">Bookmark</button>
                  <span
                    class="iconify cursor_"
                    data-icon="icon-park-outline:like"
                  ></span>
                  <span class="iconify cursor_" data-icon="ci:share"></span>
                  <span
                    class="iconify cursor_"
                    data-icon="akar-icons:more-vertical-fill"
                  ></span>
                </div>
              </footer>
              <div class="badge-overlay">
                <span class="top-right badge red">Sale</span>
              </div>
            </div>
          </div>
          <iframe
            class="mar-y-2"
            src="https://carbon.now.sh/embed/kWHq9kBIAb0DTLuKZJQ7"
            style="
              width: 100%;
              height: 615px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
          <div class="text-4 mar-y-4 highlightMainText">Verticle Cards</div>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <div class="container_card xs-card-width">
              <div class="card_header">
                <div class="image-div">
                  <img class="card_img" src="https://picsum.photos/400/500" />
                </div>
                <div class="sub_card_header">
                  <div class="head-3 highlightMainText">Heading</div>
                  <p class="text-3">Subheading</p>
                </div>
              </div>
              <div class="card_body text-2 mar-md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                libero perferendis laborum quae,
              </div>
              <footer>
                <div class="text-4 mar-sm pad-sm">
                  <button class="btn-link mar-x-5">Read</button>
                  <button class="btn-link mar-x-5">Bookmark</button>
                </div>
              </footer>
            </div>
          </div>
          <iframe
            class="mar-y-2"
            src="https://carbon.now.sh/embed/USUK7IYUdxgBDIJnKTr5"
            style="
              width: 100%;
              height: 448px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
          <div class="text-4 mar-y-4">Horizontal Cards</div>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <div class="container_card xxl-card-width">
              <div class="card_header header_row">
                <div class="image-div">
                  <img class="card_img" src="https://picsum.photos/600/400" />
                </div>
                <div class="mar-md">
                  <div class="head-2 highlightMainText">Heading</div>
                  <p class="text-3">Subheading</p>
                  <p class="text-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Est libero perferendis laborum quae,
                  </p>
                </div>
              </div>
              <footer>
                <div class="card_footer text-2 pad-sm">
                  <button class="btn-link">Read</button>
                  <button class="btn-link">Bookmark</button>
                  <span
                    class="iconify cursor_ mar-x-5"
                    data-icon="icon-park-outline:like"
                  ></span>
                  <span
                    class="iconify cursor_ mar-x-5"
                    data-icon="ci:share"
                  ></span>
                  <span
                    class="iconify cursor_ mar-x-5"
                    data-icon="akar-icons:more-vertical-fill"
                  ></span>
                </div>
              </footer>
              <div class="badge-overlay">
                <span class="top-right badge green">Sale</span>
              </div>
            </div>
          </div>
          <iframe
            class="mar-y-2"
            src="https://carbon.now.sh/embed/sviG2dhYwuHb6ghrARGK"
            style="
              width: 100%;
              height: 839px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>

          <div class="text-4 mar-y-4 highlightMainText">Card With Shadows</div>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <div class="container_card xl-card-width">
              <div class="card_header">
                <div class="image-div">
                  <img class="card_img" src="https://picsum.photos/400/200" />
                </div>
                <div class="sub_card_header">
                  <div class="head-2 highlightMainText">Heading</div>
                  <p class="text-3">Subheading</p>
                </div>
              </div>
              <div class="card_body text-2 mar-md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                libero perferendis laborum quae,
              </div>
              <footer>
                <div class="card_margin_auto_left text-2 pad-sm">
                  <span
                    class="iconify cursor_ mar-x-5"
                    data-icon="icon-park-outline:like"
                  ></span>
                  <span
                    class="iconify cursor_ mar-x-5"
                    data-icon="ci:share"
                  ></span>
                  <span
                    class="iconify cursor_ mar-x-5"
                    data-icon="akar-icons:more-vertical-fill"
                  ></span>
                </div>
              </footer>
              <div class="badge-overlay">
                <span class="bottom-left badge pink">Sale</span>
              </div>
            </div>
          </div>
          <iframe
            class="mar-y-2"
            src="https://carbon.now.sh/embed/OgsEZNCmsY0iRTJ8ZN2i"
            style="
              width: 100%;
              height: 802px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
      </div>
    </div>
  </body>
</html>
