<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Vrushabh Dhatrak" />
    <meta
      name="description"
      content="The Card component is used to convey information about some particular topic/item."
    />
    <link rel="stylesheet" href="./../../styles/main.css" />
    <script src="./../../script/header.js" defer></script>
    <script src="./../../script/navigation.js" defer></script>
    <script src="./../../script/navELements.js" defer></script>
    <script src="./../../script/asideElements.js" defer></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <title>Cards</title>
  </head>
  <body>
    <div class="container">
      <!-- Header starting here -->
      <div class="header-container"></div>
      <!-- Aside starting here -->
      <aside class="aside"></aside>
      <!-- Card Main Content starting here -->
      <div class="main-content content-wrap">
        <div class="text-5 highlightMainText">Card</div>
        <hr class="mar-y-3" />
        <p class="mar-y-2 text-3">
          The Card component is used to convey information about some particular
          topic/item.
        </p>
        <p class="text-3 mar-y-2">
          The Card Component comes with different container sizes
        </p>

        <ul class="text-3 main-content-description--list mar-y-2">
          <li class="list-type-none text-3 mar-y-2">
            <span class="imp-highlight-text">xs-card-width(20rem)</span>
          </li>
          <li class="list-type-none text-3 mar-y-2">
            <span class="imp-highlight-text">sm-card-width(25rem)</span>
          </li>
          <li class="list-type-none text-3 mar-y-2">
            <span class="imp-highlight-text">md-card-width(30rem)</span>
          </li>
          <li class="list-type-none text-3 mar-y-2">
            <span class="imp-highlight-text">lg-card-width(35rem)</span>
          </li>
          <li class="list-type-none text-3 mar-y-2">
            <span class="imp-highlight-text">xl-card-width(40rem)</span>
          </li>
          <li class="list-type-none text-3 mar-y-2">
            <span class="imp-highlight-text">xxl-card-width(45rem)</span>
          </li>
        </ul>

        <div class="main-content-subblock">
          <div class="text-4 mar-y-4 highlightMainText">Cards With Badges</div>
          <p class="text-3 mar-y-2">
            Ribbon badges are a great way to highlight something on your
            website, especially on Card UI designs. This simple pure CSS ribbon
            badge can by easily placed on the
            <span class="imp-highlight-text">top left</span>,<span
              class="imp-highlight-text"
              >top right</span
            >,<span class="imp-highlight-text">bottom left</span>,<span
              class="imp-highlight-text"
              >bottom right</span
            >, <span class="imp-highlight-text">top full</span>,
            <span class="imp-highlight-text">bottom full</span>,
            <span class="imp-highlight-text">middle full</span> corner of your
            designs.
          </p>
          <p class="text-3 mar-y-2">
            Card with Badges comes with different colors
          </p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">blue</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">pink</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">orange</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">red</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">green</span>
            </li>
          </ul>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-5 pad-md">
            <div class="container-card xl-card-width">
              <div class="card-header card-badge" data-label="Spl Offers">
                <div class="image-div">
                  <img class="card-img" src="https://picsum.photos/400/200" />
                </div>

                <div class="header mar-md">
                  <div class="head-2 highlightMainText">Heading</div>
                  <p class="text-3">Subheading</p>
                </div>
              </div>
              <div class="card-body text-3 mar-md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                libero perferendis laborum quae,
              </div>
              <footer>
                <div class="card-footer text-2 mar-sm pad-sm">
                  <button class="btn-link">Read</button>
                  <button class="btn-link">Bookmark</button>
                  <span
                    class="iconify cursor_"
                    data-icon="icon-park-outline:like"
                  ></span>
                  <span class="iconify cursor_" data-icon="ci:share"></span>
                  <span
                    class="iconify cursor_"
                    data-icon="akar-icons:more-vertical-fill"
                  ></span>
                </div>
              </footer>
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/6200895a4dd44f0015f3cd0b"
              frameborder="0"
            ></iframe>
          </div>
          <div class="text-4 mar-y-4 highlightMainText">Card With Dismiss</div>
          <p class="text-3 mar-y-2">
            The close icon in Memorable-UI is a utility that is used to dismiss
            any content (e.g., Alerts, Modals, Popovers). It is represented by a
            generic cross/close icon. Below is a sample HTML code including a
            close icon for dismissing content in Memorable-UI:
          </p>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <div class="container-card xl-card-width">
              <div class="card-header">
                <div class="mar-sm">
                  <div class="head-2 highlightMainText">Heading</div>
                  <p class="text-3">Subheading</p>
                </div>
                <div class="close-icon text-3 highlightMainText">X</div>

                <div class="image-div">
                  <img class="card-img" src="https://picsum.photos/400/200" />
                </div>
              </div>
              <div class="card_body text-3 mar-md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                libero perferendis laborum quae,
              </div>
              <footer>
                <div class="card-footer text-2 mar-sm pad-sm">
                  <button class="btn-link">Read</button>
                  <button class="btn-link">Bookmark</button>
                  <span
                    class="iconify cursor_"
                    data-icon="icon-park-outline:like"
                  ></span>
                  <span class="iconify cursor_" data-icon="ci:share"></span>
                  <span
                    class="iconify cursor_"
                    data-icon="akar-icons:more-vertical-fill"
                  ></span>
                </div>
              </footer>
              <div class="badge-overlay">
                <span class="bottom-right badge pink">Sale</span>
              </div>
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/620089a94dd44f0015f3cd0c"
              frameborder="0"
            ></iframe>
          </div>
          <div class="text-4 mar-y-4 highlightMainText">
            Card With Text Overlay
          </div>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-5 pad-md">
            <div class="container-card xl-card-width">
              <div class="card-header">
                <div class="image-div">
                  <img class="card-img" src="https://picsum.photos/400/200" />
                </div>

                <div class="sub-card-header">
                  <div class="head-2 highlightMainText">Heading</div>
                  <p class="text-3">Subheading</p>
                </div>
              </div>
              <div class="card_body text-3 mar-md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                libero perferendis laborum quae,
              </div>
              <footer>
                <div class="card-footer text-2 mar-sm pad-sm">
                  <button class="btn-link">Read</button>
                  <button class="btn-link">Bookmark</button>
                  <span
                    class="iconify cursor_"
                    data-icon="icon-park-outline:like"
                  ></span>
                  <span class="iconify cursor_" data-icon="ci:share"></span>
                  <span
                    class="iconify cursor_"
                    data-icon="akar-icons:more-vertical-fill"
                  ></span>
                </div>
              </footer>
              <div class="badge-overlay">
                <span class="top-right badge orange">Sale</span>
              </div>
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/620089f34dd44f0015f3cd0d"
              frameborder="0"
            ></iframe>
          </div>
          <div class="text-4 mar-y-4 highlightMainText">Text Only Cards</div>
          <p class="text-3 mar-y-2">
            Text Only cards convey information about a product.
          </p>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <div class="container-card xl-card-width">
              <div class="card-header pad-md">
                <div class="head-2 highlightMainText">Heading</div>
                <p class="text-3">Subheading</p>
              </div>
              <div class="card_body text-3 mar-md">
                <p class="text-2">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                  libero perferendis laborum quae,
                </p>
              </div>
              <footer>
                <div class="card-footer text-2 mar-md pad-sm">
                  <button class="btn-link">Read</button>
                  <button class="btn-link">Bookmark</button>
                  <span
                    class="iconify cursor_"
                    data-icon="icon-park-outline:like"
                  ></span>
                  <span class="iconify cursor_" data-icon="ci:share"></span>
                  <span
                    class="iconify cursor_"
                    data-icon="akar-icons:more-vertical-fill"
                  ></span>
                </div>
              </footer>
              <div class="badge-overlay">
                <span class="top-right badge red">Sale</span>
              </div>
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/62008a384dd44f0015f3cd0f"
              frameborder="0"
            ></iframe>
          </div>
          <div class="text-4 mar-y-4 highlightMainText">Verticle Cards</div>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <div class="container-card xs-card-width">
              <div class="card-header">
                <div class="image-div">
                  <img class="card-img" src="https://picsum.photos/400/500" />
                </div>
                <div class="sub-card-header">
                  <div class="head-3 highlightMainText">Heading</div>
                  <p class="text-3">Subheading</p>
                </div>
              </div>
              <div class="card_body text-2 mar-md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                libero perferendis laborum quae,
              </div>
              <footer>
                <div class="text-4 mar-sm pad-sm">
                  <button class="btn-link mar-x-5">Read</button>
                  <button class="btn-link mar-x-5">Bookmark</button>
                </div>
              </footer>
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/62008a774dd44f0015f3cd10"
              frameborder="0"
            ></iframe>
          </div>
          <div class="text-4 mar-y-4">Horizontal Cards</div>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <div class="container-card xxl-card-width">
              <div class="card-header card-header-row">
                <div class="image-div">
                  <img class="card-img" src="https://picsum.photos/600/400" />
                </div>
                <div class="mar-md">
                  <div class="head-2 highlightMainText">Heading</div>
                  <p class="text-3">Subheading</p>
                  <p class="text-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Est libero perferendis laborum quae,
                  </p>
                </div>
              </div>
              <footer>
                <div class="card-footer text-2 pad-sm">
                  <button class="btn-link">Read</button>
                  <button class="btn-link">Bookmark</button>
                  <span
                    class="iconify cursor_ mar-x-5"
                    data-icon="icon-park-outline:like"
                  ></span>
                  <span
                    class="iconify cursor_ mar-x-5"
                    data-icon="ci:share"
                  ></span>
                  <span
                    class="iconify cursor_ mar-x-5"
                    data-icon="akar-icons:more-vertical-fill"
                  ></span>
                </div>
              </footer>
              <div class="badge-overlay">
                <span class="top-right badge green">Sale</span>
              </div>
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/62008ac94dd44f0015f3cd11"
              frameborder="0"
            ></iframe>
          </div>
          <div class="text-4 mar-y-4 highlightMainText">Card With Shadows</div>
          <div class="text-4 mar-y-2 highlightMainText">Example</div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <div class="container-card xl-card-width">
              <div class="card-header">
                <div class="image-div">
                  <img class="card-img" src="https://picsum.photos/400/200" />
                </div>
                <div class="sub-card-header">
                  <div class="head-2 highlightMainText">Heading</div>
                  <p class="text-3">Subheading</p>
                </div>
              </div>
              <div class="card_body text-2 mar-md">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                libero perferendis laborum quae,
              </div>
              <footer>
                <div class="card-margin-auto-left text-2 pad-sm">
                  <span
                    class="iconify cursor_ mar-x-5"
                    data-icon="icon-park-outline:like"
                  ></span>
                  <span
                    class="iconify cursor_ mar-x-5"
                    data-icon="ci:share"
                  ></span>
                  <span
                    class="iconify cursor_ mar-x-5"
                    data-icon="akar-icons:more-vertical-fill"
                  ></span>
                </div>
              </footer>
              <div class="badge-overlay">
                <span class="bottom-left badge pink">Sale</span>
              </div>
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/62008b0d4dd44f0015f3cd12"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
