<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Vrushabh Dhatrak" />
    <meta
      name="description"
      content="The Input component provides different states of Input such as - primary, error & success."
    />
    <link rel="stylesheet" href="./../../styles/main.css" />
    <script src="./../../script/header.js" defer></script>
    <script src="./../../script/navigation.js" defer></script>
    <script src="./../../script/navELements.js" defer></script>
    <script src="./../../script/asideElements.js" defer></script>
    <script src="./../../script/input-slider.js" defer></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <title>Input</title>
  </head>
  <body>
    <div class="container">
      <!-- Header starting here -->
      <div class="header-container"></div>
      <!-- Aside starting here -->
      <aside class="aside"></aside>
      <!-- Input Main Content starting here -->
      <div class="main-content content-wrap">
        <div class="text-5 highlightMainText">Input</div>
        <hr class="mar-y-3" />
        <p class="mar-y-2 text-3">
          The Input component provides different states of Input such as -
          primary, error & success.
        </p>
        <div class="main-content-subblock">
          <div class="text-4 mar-y-4 highlightMainText">Examples</div>
          <div class="basic_container mar-y-2 pad-md">
            <div class="custom-input-one mar-y-2">
              <input
                id="name"
                type="text"
                class="input-field"
                autocomplete="off"
                placeholder=" "
              />
              <label for="name" class="input-label text-2">Name</label>
            </div>

            <div class="custom-input-one mar-y-2">
              <input
                id="name"
                type="text"
                class="input-field"
                autocomplete="off"
                placeholder=" "
              />
              <span
                class="iconify icons text-2"
                data-icon="ant-design:search-outlined"
              ></span>
              <label for="name" class="input-label text-2">Name</label>
            </div>
            <div class="custom-input-one mar-y-2">
              <input
                id="name"
                type="text"
                class="input-field-error"
                autocomplete="off"
                placeholder=" "
              />
              <label for="name" class="input-label text-2">Name</label>
            </div>
            <div class="custom-input-one mar-y-2">
              <input
                id="name"
                type="text"
                class="input-field-success"
                autocomplete="off"
                placeholder=" "
              />
              <label for="name" class="input-label text-2">Name</label>
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/62009e584dd44f0015f3cd22"
              frameborder="0"
            ></iframe>
          </div>
          <div class="basic_container mar-y-2 pad-md">
            <label class="custom-input-field-two normal">
              <input type="url" placeholder="&nbsp;" />
              <span class="placeholder text-2">Enter URL</span>
            </label>
            <label class="custom-input-field-two error">
              <input type="url" placeholder="&nbsp;" />
              <span class="placeholder text-2">Enter URL</span>
            </label>

            <label class="custom-input-field-two success">
              <input type="url" placeholder="&nbsp;" />
              <span class="placeholder text-2">Enter URL</span>
            </label>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/62009eb84dd44f0015f3cd23"
              frameborder="0"
            ></iframe>
          </div>
          <div class="basic_container mar-y-2 pad-md">
            <input type="range" name="" class="slider" min="0" max="100" />
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/6230134e4ee3f10015ca3ec4"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
