<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Vrushabh Dhatrak" />
    <meta
      name="description"
      content="The Button component provides different states of button such as - primary, secondory, success, warning,
    danger, dark, light, info and link."
    />
    <link rel="stylesheet" href="./../../styles/main.css" />
    <script src="./../../script/header.js" defer></script>
    <script src="./../../script/navigation.js" defer></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <title>Button</title>
  </head>
  <body>
    <div class="container">
      <div class="header_container">
        <header class="sticky">
          <img
            class="img_logo"
            src="./../../assets/image section/logo.png"
            alt="header_logo"
          />
          <a href="#" class="logo head-2">Memorable-UI </a>
          <div class="toggle" onclick="toggleMenu();"></div>
          <ul class="menu hide">
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Avatar/avatar.html"
                >Avatar</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Alert/Alert.html"
                >Alert</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Badge/bagde.html"
                >Badge</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Button/button.html"
                >Button</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Card/card.html"
                >Card</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Image/image.html"
                >Image</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Input/input.html"
                >Input</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Modal/modal.html"
                >Modal</a
              >
            </li>
            <li>
              <a onclick="toggleMenu();" class="text-1" href="#">Navigation</a>
            </li>
            <li>
              <a onclick="toggleMenu();" class="text-1" href="#">Rating</a>
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Simplified Grid/simplified-grid.html"
                >Simplified Grid</a
              >
            </li>
            <li>
              <a
                onclick="toggleMenu();"
                class="text-1"
                href="./../Typography/typography.html"
                >Typography</a
              >
            </li>
          </ul>
          <ul class="menu left_auto">
            <li><a class="text-3" onclick="toggleMenu();">Documentation</a></li>
            <div class="btn-round">
              <button class="btn-primary xl-bdr-radius pad-xs">
                <a href="https://www.github.com/">
                  <span
                    class="iconify"
                    data-icon="akar-icons:github-fill"
                  ></span>
                </a>
              </button>
            </div>
          </ul>
        </header>
      </div>
      <aside class="aside">
        <div class="side-list">
          <ul class="text-3">
            <h2 class="text-4 mar-md mar-y-4 imp-highlight-text">
              Getting Started
            </h2>
            <li class="pad-xs aside-list list-type-none">
              <span class="iconify" data-icon="carbon:user-avatar"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Avatar/avatar.html"
                >Avatar</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span
                class="iconify"
                data-icon="eva:alert-triangle-outline"
              ></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Alert/Alert.html"
                >Alert</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="fluent:badge-20-filled"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Badge/bagde.html"
                >Badge</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="dashicons:button"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Button/button.html"
                >Button</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="charm:cards"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Card/card.html"
                >Card</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="bi:file-earmark-image"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Image/image.html"
                >Image</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="whh:html"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Input/input.html"
                >Input</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="vaadin:modal-list"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Modal/modal.html"
                >Modal</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span
                class="iconify"
                data-icon="fluent:navigation-16-regular"
              ></span>
              <a class="btn-primary-outline-non deco-none" href="#"
                >Navigation</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="ic:twotone-star-rate"></span>
              <a class="btn-primary-outline-non deco-none" href="#">Rating</a>
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="bi:grid-1x2"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Simplified Grid/simplified-grid.html"
                >Simplified Grid</a
              >
            </li>
            <li class="pad-xs list-type-none">
              <span class="iconify" data-icon="octicon:typography-24"></span>
              <a
                class="btn-primary-outline-non deco-none"
                href="./../../components/Typography/typography.html"
                >Typography</a
              >
            </li>
          </ul>
        </div>
      </aside>
      <div class="main-content content-wrap">
        <div class="text-5 highlightMainText">Button</div>
        <hr class="mar-y-3" />
        <p class="text-3 mar-y-2">
          The Button component provides different clickable buttons, which are
          used to submit forms or anywhere in a document for accessible,
          standard button functionality.
        </p>
        <p class="mar-y-2 text-3">
          The Button component comes in different states such as -<span
            class="imp-highlight-text sm-bdr-radius"
            >primary</span
          >,<span class="imp-highlight-text sm-bdr-radius">secondory</span
          >,<span class="imp-highlight-text sm-bdr-radius">success</span>,<span
            class="imp-highlight-text sm-bdr-radius"
            >warning</span
          >,<span class="imp-highlight-text sm-bdr-radius">danger</span>,<span
            class="imp-highlight-text sm-bdr-radius"
            >dark</span
          >,<span class="imp-highlight-text sm-bdr-radius">light</span>,<span
            class="imp-highlight-text sm-bdr-radius"
            >info</span
          >
          and <span class="imp-highlight-text sm-bdr-radius">link</span>.
        </p>
        <div class="main-content-subblock">
          <div class="text-4 mar-y-4 highlightMainText">Simple Buttons</div>
          <p class="mar-y-2 text-3">
            The Simple Buttons can be used using these classes -
          </p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-primary</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-secondory</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-success</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-warning</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-danger</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-dark</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-light</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-info</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn-link</span>
            </li>
          </ul>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <!-- primary button -->
            <button class="btn btn-primary text-2">
              <a href="#">Primary</a>
            </button>
            <!-- Secondory button -->
            <button class="btn btn-secondory text-2">
              <a href="#">Secondory</a>
            </button>
            <!-- Success button -->
            <button class="btn btn-success text-2">
              <a href="#">Success</a>
            </button>
            <!-- Warning button -->
            <button class="btn btn-warning text-2">
              <a href="#">Warning</a>
            </button>
            <!-- Danger button -->
            <button class="btn btn-danger text-2">
              <a href="#">Danger</a>
            </button>
            <!-- Dark button -->
            <button class="btn btn-dark text-2"><a href="#">Dark</a></button>
            <!-- Light button -->
            <button class="btn btn-light text-2"><a href="#">Light</a></button>
            <!-- Info button -->
            <button class="btn btn-info text-2"><a href="#">Info</a></button>
            <!-- Link button -->
            <button class="btn-link text-2"><a href="#">Link</a></button>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/620087394dd44f0015f3cd03"
              frameborder="0"
            ></iframe>
          </div>
          <div class="text-4 mar-y-4 highlightMainText">Outline Buttons</div>
          <p class="mar-y-2 text-3">
            The Outline Buttons can be used using these classes -
          </p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-outline-primary</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-outline-secondory</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-outline-success</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-outline-warning</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-outline-danger</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-outline-dark</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-outline-light</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn btn-outline-info</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">btn-outline-link</span>
            </li>
          </ul>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <!-- primary Outline button -->
            <button class="btn btn-outline-primary text-2">
              <a href="#">Primary Outline</a>
            </button>
            <!-- secondory Outline button -->
            <button class="btn btn-outline-secondory text-2">
              <a href="#">Secondory Outline</a>
            </button>
            <!-- success Outline button -->
            <button class="btn btn-outline-success text-2">
              <a href="#">Success Outline</a>
            </button>
            <!-- warning Outline button -->
            <button class="btn btn-outline-warning text-2">
              <a href="#">Warning Outline</a>
            </button>
            <!-- danger Outline button -->
            <button class="btn btn-outline-danger text-2">
              <a href="#">Danger Outline</a>
            </button>
            <!-- dark Outline button -->
            <button class="btn btn-outline-dark text-2">
              <a href="#">Dark Outline</a>
            </button>
            <!-- light Outline button -->
            <button class="btn btn-outline-light text-2">
              <a href="#">Light Outline</a>
            </button>
            <!-- info Outline button -->
            <button class="btn btn-outline-info text-2">
              <a href="#">Info Outline</a>
            </button>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/620087914dd44f0015f3cd04"
              frameborder="0"
            ></iframe>
          </div>
          <div class="text-4 mar-y-4 highlightMainText">Icon Buttons</div>
          <p class="text-3 mar-y-2">
            In Icon button only include
            <span class="imp-highlight-text">icon</span> inside
            <span class="imp-highlight-text">button</span> tag.
          </p>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <button class="btn btn-primary">
              <span class="iconify" data-icon="fluent:alert-24-filled"></span>
            </button>
            <button class="btn btn-primary">
              <span class="iconify" data-icon="bi:cart-check-fill"></span>
            </button>
            <button class="btn btn-primary">
              <span class="iconify" data-icon="ci:settings-filled"></span>
            </button>
            <button class="btn btn-primary">
              <span
                class="iconify"
                data-icon="ic:baseline-account-circle"
              ></span>
            </button>
            <button class="btn btn-primary">
              <span class="iconify" data-icon="ic:baseline-password"></span>
            </button>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/620087dd4dd44f0015f3cd05"
              frameborder="0"
            ></iframe>
          </div>
          <div class="text-4 mar-y-4 highlightMainText">
            Social Media Buttons (Square)
          </div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <!-- facebook icon button -->
            <button class="btn btn-primary text-2">
              <span
                class="iconify"
                data-icon="ant-design:facebook-filled"
              ></span>
              <a href="https://www.facebbok.com/"> Facebook </a>
            </button>
            <!-- Twitter icon button -->
            <button class="btn btn-primary text-2">
              <span class="iconify" data-icon="mdi:twitter"></span>
              <a href="https://www.twitter.com/"> Twitter </a>
            </button>
            <!-- Linkedin icon button -->
            <button class="btn btn-primary text-2">
              <span class="iconify" data-icon="akar-icons:linkedin-fill"></span>
              <a href="https://www.linkedin.com/in/vrushabh-dhatrak-328ab0148/">
                LinkedIn
              </a>
            </button>
            <!-- Instagram icon button -->
            <button class="btn btn-primary text-2">
              <span
                class="iconify"
                data-icon="akar-icons:instagram-fill"
              ></span>
              <a href="https://www.instagram.com/"> Instagram </a>
            </button>
            <!-- Github icon button -->
            <button class="btn btn-primary text-2">
              <span class="iconify" data-icon="akar-icons:github-fill"></span>
              <a href="https://www.github.com/"> Github </a>
            </button>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/620088314dd44f0015f3cd06"
              frameborder="0"
            ></iframe>
          </div>
          <div class="text-4 mar-y-4 highlightMainText">
            Social Media Buttons (Round)
          </div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <!-- facebook round button -->
            <div class="btn-round">
              <button class="btn-primary round xl-bdr-radius pad-xs">
                <a href="https://www.facebbok.com/">
                  <span
                    class="iconify"
                    data-icon="ant-design:facebook-filled"
                  ></span>
                </a>
              </button>
            </div>
            <!-- twitter round button -->
            <div class="btn-round">
              <button class="btn-primary round xl-bdr-radius pad-xs">
                <a href="https://www.twitter.com/">
                  <span class="iconify" data-icon="mdi:twitter"></span>
                </a>
              </button>
            </div>
            <!-- linkedin round button -->
            <div class="btn-round">
              <button class="btn-primary round xl-bdr-radius pad-xs">
                <a
                  href="https://www.linkedin.com/in/vrushabh-dhatrak-328ab0148/"
                >
                  <span
                    class="iconify"
                    data-icon="akar-icons:linkedin-fill"
                  ></span>
                </a>
              </button>
            </div>
            <!-- instargarm round button -->
            <div class="btn-round">
              <button class="btn-primary round xl-bdr-radius pad-xs">
                <a href="https://www.instagram.com/">
                  <span
                    class="iconify"
                    data-icon="akar-icons:instagram-fill"
                  ></span>
                </a>
              </button>
            </div>
            <!-- github round button -->
            <div class="btn-round">
              <button class="btn-primary round xl-bdr-radius pad-xs">
                <a href="https://www.github.com/">
                  <span
                    class="iconify"
                    data-icon="akar-icons:github-fill"
                  ></span>
                </a>
              </button>
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/6200888f4dd44f0015f3cd07"
              frameborder="0"
            ></iframe>
          </div>
          <div class="text-4 mar-y-4 highlightMainText">
            Floating Action Button
          </div>
          <div class="basic_container button_cont mar-y-2 pad-md">
            <button class="btn-float text-5 xl-bdr-radius btn-primary">
              +
            </button>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/620088d94dd44f0015f3cd08"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
