<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Vrushabh Dhatrak" />
    <meta
      name="description"
      content="The Alert component comes with different states of alert such as - error, warning, success and info."
    />
    <link rel="stylesheet" href="./../../styles/main.css" />
    <script src="./../../script/header.js" defer></script>
    <script src="./../../script/navigation.js" defer></script>
    <script src="./../../script/navELements.js" defer></script>
    <script src="./../../script/asideElements.js" defer></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <title>Alert</title>
  </head>
  <body>
    <div class="container">
      <!-- Header starting here -->
      <div class="header-container"></div>
      <!-- Aside starting here -->
      <aside class="aside"></aside>
      <!-- Alert Main Content starting here -->
      <div class="main-content content-wrap">
        <div class="text-5 highlightMainText">Lists</div>
        <hr class="mar-y-3" />
        <p class="mar-y-2 text-3">
          The Lists component are used to display content in sequence.
        </p>
        <div class="main-content-subblock">
          <div class="text-4 mar-y-4 highlightMainText">
            Basic Unorderd List
          </div>
          <p class="text-3 mar-y-2">
            User can used list as -
            <span class="primary-text">. .</span> classes for disc type bullet
            and square bullets such as<span
              class="imp-highlight-text sm-bdr-radius"
            ></span
            >,<span class="imp-highlight-text sm-bdr-radius">list-square</span
            >classes for disc type bullet and square bullets
          </p>
          <div class="basic_container pad-md mar-y-2">
            <ul class="mar-md pad-sm text-3 cursor_">
              <li class="list-item">Item 1</li>
              <li class="list-item">Item 2</li>
              <li class="list-item">Item 3</li>
              <li class="list-item">Item 4</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
