<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Vrushabh Dhatrak" />
    <meta
      name="description"
      content="The Lists component are used to display content in a definite order."
    />
    <link rel="stylesheet" href="./../../styles/main.css" />
    <script src="./../../script/header.js" defer></script>
    <script src="./../../script/navigation.js" defer></script>
    <script src="./../../script/navELements.js" defer></script>
    <script src="./../../script/asideElements.js" defer></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <title>List</title>
  </head>
  <body>
    <div class="container">
      <!-- Header starting here -->
      <div class="header-container"></div>
      <!-- Aside starting here -->
      <aside class="aside"></aside>
      <!-- Alert Main Content starting here -->
      <div class="main-content content-wrap">
        <div class="text-5 highlightMainText">Lists</div>
        <hr class="mar-y-3" />
        <p class="mar-y-2 text-3">
          The Lists component are used to display content in a definite order..
        </p>
        <div class="main-content-subblock">
          <div class="text-4 mar-y-4 highlightMainText">
            Basic Unorderd List
          </div>
          <div class="basic_container pad-md mar-y-2">
            <div class="list-container">
              <ul class="list text-3">
                <li class="list-item">Item 1</li>
                <li class="list-item">Item 2</li>
                <li class="list-item">Item 3</li>
                <li class="list-item">Item 4</li>
              </ul>
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/6215a2df8646a200159b5a9b"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
