<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Vrushabh Dhatrak" />
    <meta
      name="description"
      content="The chip can have an icon on the left of the text and a cross icon fixed at the right most end."
    />
    <link rel="stylesheet" href="./../../styles/main.css" />
    <script src="./../../script/header.js" defer></script>
    <script src="./../../script/navigation.js" defer></script>
    <script src="./../../script/navELements.js" defer></script>
    <script src="./../../script/asideElements.js" defer></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <title>Chips</title>
  </head>
  <body>
    <div class="container">
      <!-- Header starting here -->
      <div class="header-container"></div>
      <!-- Aside starting here -->
      <aside class="aside"></aside>
      <!-- Chips Main Content starting here -->
      <div class="main-content content-wrap">
        <div class="text-5">Chips</div>
        <hr class="mar-y-3" />
        <p class="mar-y-2 text-3">
          A chip can have an icon on the lefft of the text and a cross icon
          fixed at the right most end. Chips should wrap to next line
          automatically. User only apply
          <span class="imp-highlight-text sm-bdr-radius">btn-chips</span> class
          to a button and
          <span class="imp-highlight-text sm-bdr-radius">chips_avatar</span> to
          img tag to make it work.
        </p>
        <div class="main-content-subblock">
          <div class="text-4 mar-y-4">Simple Chips</div>
          <div class="basic_container chips-cont mar-y-2 pad-md">
            <button class="btn-chips">
              <img
                class="sm-height chips_avatar"
                src="./../../assets/avatar.png"
                alt=""
              />
              <span>Nashik</span>
              <span
                class="iconify cursor_"
                data-icon="akar-icons:circle-x"
              ></span>
            </button>
            <button class="btn-chips">
              <img
                class="sm-height chips_avatar"
                src="./../../assets/avatar.png"
                alt=""
              />
              <span>Nashik</span>
              <span
                class="iconify cursor_"
                data-icon="akar-icons:circle-x"
              ></span>
            </button>
            <button class="btn-chips">
              <img
                class="sm-height chips_avatar"
                src="./../../assets/avatar.png"
                alt=""
              />
              <span>Nashik</span>
              <span
                class="iconify cursor_"
                data-icon="akar-icons:circle-x"
              ></span>
            </button>
            <button class="btn-chips">
              <img
                class="sm-height chips_avatar"
                src="./../../assets/avatar.png"
                alt=""
              />
              <span>Nashik</span>
              <span
                class="iconify cursor_"
                data-icon="akar-icons:circle-x"
              ></span>
            </button>
            <button class="btn-chips">
              <img
                class="sm-height chips_avatar"
                src="./../../assets/avatar.png"
                alt=""
              />
              <span>Nashik</span>
              <span
                class="iconify cursor_"
                data-icon="akar-icons:circle-x"
              ></span>
            </button>
            <button class="btn-chips">
              <img
                class="sm-height chips_avatar"
                src="./../../assets/avatar.png"
                alt=""
              />
              <span>Nashik</span>
              <span
                class="iconify cursor_"
                data-icon="akar-icons:circle-x"
              ></span>
            </button>
            <button class="btn-chips">
              <img
                class="sm-height chips_avatar"
                src="./../../assets/avatar.png"
                alt=""
              />
              <span>Nashik</span>
              <span
                class="iconify cursor_"
                data-icon="akar-icons:circle-x"
                onclick="close()"
              ></span>
            </button>
            <!-- </div> -->
          </div>
          <div class="basic_container pad-md mar-y-2">
            <img src="./../../assets/chips-code-img/chips.png" width="600" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
