<!DOCTYPE html>
<html lang="en">
  <link>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Vrushabh Dhatrak" />
    <meta
      name="description"
      content="The Collspable Navigation Sidebar used to collsaped Sidebar"
    />
    <link rel="stylesheet" href="./../../styles/main.css" />
    <script src="./../../script/header.js" defer></script>
    <script src="./../../script/navigation.js" defer></script>
    <script src="./../../script/navELements.js" defer></script>
    <script src="./../../script/asideElements.js" defer></script>
    <script src="./../../script/openSidebar.js" defer></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <title>Collsapable Sidebar</title>
  </head>
  <body>
    <div class="container">
      <!-- Header starting here -->
      <div class="header-container"></div>
      <!-- Aside starting here -->
      <aside class="aside"></aside>
      <!-- Alert Main Content starting here -->
      <div class="main-content content-wrap">
        <div class="text-5 highlightMainText">Navigation Sidebar</div>
        <hr class="mar-y-3" />
        <p class="mar-y-2 text-3">
          The Collspable Navigation Sidebar used to collsaped Sidebar
        </p>
        <div class="text-3 mar-y-2">
          Working Link <a href="https://codesandbox.io/s/currying-firefly-bvfbhf">Link</a>
        </div>
        <div class="main-content-subblock">
          <div class="code-snippet">
            <iframe 
              src="https://www.thiscodeworks.com/embed/6215c62b8646a200159b5aa4" 
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
