<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Vrushabh Dhatrak" />
    <meta
      name="description"
      content="The Alert component comes with different states of alert such as - error, warning, success and info."
    />
    <link rel="stylesheet" href="./../../styles/main.css" />
    <script src="./../../script/header.js" defer></script>
    <script src="./../../script/navigation.js" defer></script>
    <script src="./../../script/navELements.js" defer></script>
    <script src="./../../script/asideElements.js" defer></script>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <title>Alert</title>
  </head>
  <body>
    <div class="container">
      <!-- Header starting here -->
      <div class="header-container"></div>
      <!-- Aside starting here -->
      <aside class="aside"></aside>
      <!-- Alert Main Content starting here -->
      <div class="main-content content-wrap">
        <div class="text-5 highlightMainText">Alert</div>
        <hr class="mar-y-3" />
        <p class="mar-y-2 text-3">
          The Alert component is used to provide contextual feedback messages
          for typical user actions with the handful of available and flexible
          alert messages.
        </p>
        <div class="main-content-subblock">
          <div class="text-4 mar-y-4 highlightMainText">Alert with icons</div>
          <p class="text-3 mar-y-2">
            The Alerts component comes in 4 different flexible alert messages,
            such as<span class="imp-highlight-text sm-bdr-radius">success</span
            >,<span class="imp-highlight-text sm-bdr-radius">warning</span>,
            <span class="imp-highlight-text sm-bdr-radius">information</span
            >,<span class="imp-highlight-text sm-bdr-radius">Error</span>.The
            alerts can be used using these classes -
          </p>
          <ul class="text-3 main-content-description--list mar-y-2">
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">alert error-alert</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">alert danger-alert</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">alert info-alert</span>
            </li>
            <li class="list-type-none text-3 mar-y-2">
              <span class="imp-highlight-text">alert success-alert</span>
            </li>
          </ul>
          <div class="basic_container alert_cont mar-y-2 pad-md">
            <!-- error alert  -->
            <div class="alert error-alert mar-y-2">
              <span
                class="iconify head-1"
                data-icon="jam:triangle-danger"
              ></span>
              <h4 class="head-4 mar-sm">This is an Error alert</h4>
              <span
                class="iconify text-3"
                data-icon="akar-icons:circle-x"
              ></span>
            </div>
            <!-- warning alert  -->
            <div class="alert warning-alert mar-y-2">
              <span class="iconify head-1" data-icon="gg:danger"></span>
              <h4 class="head-4 mar-sm">This is a Warning alert</h4>
              <span
                class="iconify text-3"
                data-icon="akar-icons:circle-x"
              ></span>
            </div>
            <!-- information alert  -->
            <div class="alert info-alert mar-y-2">
              <span class="iconify head-1" data-icon="entypo:info"></span>
              <h4 class="head-4 mar-sm">This is an Info alert</h4>
              <span
                class="iconify text-3"
                data-icon="akar-icons:circle-x"
              ></span>
            </div>
            <!-- success alert  -->
            <div class="alert success-alert mar-y-2">
              <span class="iconify head-1" data-icon="ep:success-filled"></span>
              <h4 class="head-4 mar-sm">This is a Success alert</h4>
              <span
                class="iconify text-3"
                data-icon="akar-icons:circle-x"
              ></span>
            </div>
          </div>
          <div class="code-snippet">
            <iframe
              class="mar-y-2"
              src="https://www.thiscodeworks.com/embed/620082794dd44f0015f3ccfd"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
