    /*
        Author: Vrushabh Dhatrak
        Release: 0.1
        Description : Alert Component Css
    */
    /* Alert Starting Here*/
    .alert {
        padding: 1rem;
        border-radius: 0.5rem;
        max-width: max-content;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .alert svg {
        cursor: pointer;
    }
    /* Error Alert */
    .error-alert {
        background-color: var(--lightDanger);
        border-left: 1rem solid var(--dangerColor);
        color: var(--dangerColor);

    }
    /* Warning Alert */
    .warning-alert {
        background-color: var(--lightWarning);
        border-left: 1rem solid var(--warningColor);
        color: var(--warningColor);
    }

    /* Info Alert */
    .info-alert {
        background-color: var(--lightInfo);
        border-left: 1rem solid var(--infoColor);
        color: var(--infoColor);
    }
    /* Success Alert */
    .success-alert {
        background-color: var(--lightSuccess);
        border-left: 1rem solid var(--successColor);
        color: var(--successColor);
    }

    

    

    

    

    

    

    

    

  


