<<<<<<< HEAD
    /*
        Author: Vrushabh Dhatrak
        Release: 0.1
        Description : Badge Component CSS file.
    */
=======
    /* Main Section For Entire Project */
    .main-content {
        grid-column:main;
        padding: var(--pad-lg) var(--pad-xxl);
        margin: var(--mar-xxl) 0;
    }

>>>>>>> 6bcad2a2134d586ae9b9ae453d3997124bed1d61
    /* Badges Starting Here */
    .badge_cont {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
<<<<<<< HEAD
=======
        
        
>>>>>>> 6bcad2a2134d586ae9b9ae453d3997124bed1d61
    }

    .basic_container img {
        margin: 0 auto;
        margin: 1rem auto;
        display: flex;
    }
    .badge_div {
        position: relative;
        
    }
    .onlineBadge {
        width: 2rem;
        height: 2rem;
        background: var(--successColor);
        position: relative;
        border-radius: 50%;
        border: 0.4rem solid #ffff;
        position: absolute;
        bottom: 1rem;
        right: 0;
        
    }

    .busyBadge {
        width: 2rem;
        height: 2rem;
        background: var(--dangerColor);
        position: relative;
        border-radius: 50%;
        border: 0.4rem solid #ffff;
        position: absolute;
        bottom: 1rem;
        right: 0;
    }

    .badge_div svg {
        height: 5.1rem;
        width: auto;
        color: var(--bgColor);
      }
    .notifyBadge {
        width: 2rem;
        height: 2rem;
        border: 0.2rem solid var(--primary-color);
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0.4rem;
        color: #ffff;
        background: var(--primary-color);
<<<<<<< HEAD
    }
=======
      }
>>>>>>> 6bcad2a2134d586ae9b9ae453d3997124bed1d61
      
    .notifyBadge span {
        font-size: 1.2rem;
        position: relative;
        left: 0.1rem;
        top: 0.1rem;
        color: #fff;
        font-weight:700;
<<<<<<< HEAD
    }
=======

      }
>>>>>>> 6bcad2a2134d586ae9b9ae453d3997124bed1d61

    

    

    

  


