/*
    Author: Vrushabh Dhatrak
    Release: 0.1
    Description : Image Component Css
*/
/* Image Section Starting Here */
/* Landscape Mode Image Round Starting Here */
.circular--landscape { 
    display: inline-block; 
    position: relative; 
    width: 20rem; 
    height: 20rem; 
    overflow: hidden; 
    border-radius: 50%; 
} 
.circular--landscape img { 
    width: auto; 
    height: 100%; 
    margin-left: -8rem; 
}

/* Portrait Mode Image Round Starting Here */
.circular--portrait { 
    position: relative; 
    width: 20rem; 
    height: 20rem; 
    overflow: hidden; 
    border-radius: 50%; 
} 
.circular--portrait img { 
    width: 100%; 
    height: auto; 
}

/* Square Mode Image Round Starting Here */
.circular--square { 
    position: relative; 
    width: 20rem; 
    height: 20rem; 
    overflow: hidden; 
    border-radius: 50%; 
} 
.circular--square img { 
    width: 120rem; 
    height: auto; 
}


/* Image Responsive Section Starting Here */
/* Image Responsive In One Single Column */
.basic-img-responsive { 
    width: 120rem; 
    margin: 0; 
} 

.basic-img-responsive img { 
    width: 100%; 
    height: auto; 
}
/* Image Responsive In Two Column */
.basic-img-responsive-two-column {
    width: 120rem; 
    margin: 0; 
}
.basic-img-responsive-two-column  img { 
    height: 32rem;
    width: 48%;
    display: inline-block; 
}
/* Image Responsive In Three Column */
.basic-img-responsive-three-column {
    width: 120rem; 
    margin: 0; 
}
.basic-img-responsive-three-column  img { 
    height: 32rem;
    width: 32%; 
    display: inline-block; 
}
/* Image Responsive With Breakpoint Starting Here */
/* For small devices (e.g. smartphones) */ 
.responsive-img-break-points {
    width: 120rem; 
    margin: 0; 
}
.responsive-img-break-points img { 
    max-width: 100%; 
    display: inline-block; 
} 

/* For large devices (e.g.desktops) */ 
@media (max-width: 760px) { 
    .responsive-img-break-points img { 
        max-width: 55%; 
    } 
}

/* For medium devices (e.g. tablets) */ 
@media (max-width: 420px) { 
    .responsive-img-break-points  img { 
        max-width: 48%; 
    } 
} 

/* Image Responsive Full Width Starting Here */
.responsive-img-full-width {
    width: 100%;
}
.responsive-img-full-width img {
    width: 100%;
}

/* Custom Image Responsive  */
.custom-img-responsive {
    width: 100%;
    height: auto;
}

.custom-img-responsive img {
    max-inline-size: 100%;
    block-size: auto;
    object-fit:cover;
}