/*
    Author: Vrushabh Dhatrak
    Release: 0.1
    Description : Layout Css for entire Project
*/
/* Starting Template for entire Project Holy Grail Layout */
.container {
    margin:0;
    padding:0;
    display: grid;
    height: 100vh;
    grid-template-columns:30rem 1fr;
    
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer"
    ;

}
/* Header Component For Entire Project */
.header-container header {
    grid-column: header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    display: flex;
    align-items: center;
    transition: 0.5s;
    background: var(--primary-color);
    padding: var(--pad-md) var(--pad-md);
    box-shadow: 0 0.5rem 2rem var(--primary-color-faint);

} 
.header-container .header_title {
    display: flex;
    align-items: end;
}
.header-container header.sticky {
    background: #fff;  
    padding: var(--pad-md) var(--pad-sm);
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.1);
    color: var(--primary-text-color);
}
.header-container header.sticky .logo{
    color:var(--primary-color);
}
.header-container header .logo {
    color: var(--primary-color);
}
.header-container header.sticky ul li a {
    color: var(--primary-text-color);
}
.header-container header .img-logo {
    filter: invert(100%);
}
.header-container header.sticky .img-logo {
    filter: invert(0%);
}
.header-container header .logo {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15rem;
    color: #fff; 
}
.header-container header ul {
    position: relative;
    display: flex;
    align-items: center;
}
.header-container header ul li {
    position: relative;
    list-style: none;	
}
.header-container header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 var(--mar-md);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.header-container header ul li a:hover {
    color: #fff;
}
.header-container header.sticky ul li a:hover {
    color: var(--primary-color);
}
.left_auto {
    margin-left: auto;
}
.mobile_menu li {
    width: 5%;
}
.img-logo {
    width:5rem;
    height:5rem;
}
/* Aside For Entire Project */
.aside {
    padding: var(--pad-xxl) var(--pad-xxl) 0 0;
    box-shadow: 0px 5px 9px 1px #000000a6;
    position: relative;
    grid-column: aside;
    margin: 5rem 0;
}
.container .aside .side-list ul li {
    display: flex;
    align-items: center;
    width: 26rem;
    margin: 2rem;
}
.container .aside .side-list ul li:hover {
    background-color:var(--primary-color-faint);
    border-bottom: 3px solid var(--primary-color);
}
.container .aside .side-list ul li svg {
    margin-right: 4rem;
    color: var(--primary-color);
}
.container .aside .side-list ul li a {
    text-decoration: none;
    color: var(--primary-color);
}
/* Main Section For Entire Project */
.main-content {
    grid-column:main;
    padding: var(--pad-lg) var(--pad-xxl);
    margin: var(--mar-infinite) 0;
}
/******  Layout classes ********/
.basic_container {
    width:100%;
    border: 1px solid var(--primary-color);
    display: flex;
}
.basic_container iframe {
    margin: 0 auto;
    margin: 1rem auto;
    display: flex;
}
.img_container {
    width: max-content;
    border: 1px solid;
}
/*Responsive*/

/* Make websitr responsive and reset the banner image */
@media(max-width: 600px) {
    .header-container header, header.sticky {
        padding: 1rem 5rem;
        z-index: 2;
    } 
      
}

@media (max-width: 400px) {
    html {
        font-size:30%;
    }
    .container {
        width: 100%;
        grid-template-columns:1fr;
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "main"
        "main"
        "footer"
        ;
        
    }
    .aside {
        display: none;
    }
    .header-container header, header.sticky {
        padding: 1rem 5rem;
        z-index: 1;
    }
    
    .header-container .menu {
        position: fixed;
        top: 8.5rem;
        left: -100%;
        display: block;
        padding: 4rem 5rem;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 1;
        border-top: 1px solid rgba(0,0,0,0.2);
        font-size: 1rem;
    }
    .header-container .menu.active {
        left: 0;
    }
    .menu.active li a {
        font-size: var(--text-md-font-size);
        padding:var(--pad-md);
    }
    .header-container header ul li a {
        color: #111;
    }
  
    .header-container .toggle {
        width: 4rem;
        height: 4rem;
        background: url(./../assets/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 3rem;
        cursor: pointer;
        margin: 0 0 0 42rem;
    }
    
    .header-container .toggle.active {
        background: url(./../assets/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 2.5rem;
        cursor: pointer;
    }
  
    .header-container header.sticky .toggle {
        filter: invert(1);
    }
      
}
  
  
  