/*************** Component Imports ***************/
@import "./variables.css";
@import "./typography.css";
@import "./layout.css";
@import "./indexPage.css";
@import "./animation.min.css";
@import "./alert.css";
@import "./badge.css";
@import "./button.css";
@import "./card.css";
@import "./chips.css";
@import "./image.css";
@import "./input.css";
@import "./modal.css";
@import "./reset.css";
@import "./simplified-grid.css";
@import "./tab.css";
@import "./utils.css";





/*************** Project Initials ***************/

*, *::before, *::after {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/* Here converted Default font size to 10px */
html {
    font-size:62.5%;
}

@media (max-width: 400px) {
    html {
        font-size: 50%;
    }
}