/*************** External Imports ***************/
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@200;300;400;600;700;900&family=Poppins:wght@500&display=swap');


:root {
    --primary-color: #3b82f6;
    --primary-color-hover: #226ee8;
    --secondary-color: #eff6ff;
    --background-color:#06f;
    --primary-text-color:#000000;
    --secondory-text-color:#636369;
    --primary-color-faint:#3b82f61a;
    /* Below Call to Action Colors */
    --warning-color: #ff9800;
    --danger-color: #f44336;
    --success-color: #4caf50;
    --light-color:#f7f7f7;
    --dark-color:#000000;
    --info-color:#129fe0;

    --light-danger-color: #fdecfd;
    --light-warning-color: #fff4e5;
    --light-info-color: #e8f4fd;
    --light-success-color: #edf7ed;

    --primary-color-hover: #a0b8df;
    --secondory-text-color-hover:#65656ef3;
    --warning-color-hover: #f0c88c;
    --danger-color-hover: #f88f87;
    --success-color-hover: #99c99b;
    --light-color-hover:#f7f7f7a2;
    --dark-color-hover:#444444;
    --info-color-hover:#a7dcf5;

    /* Card badges Colors */
    --redCardBadge-color:#ed1b24;
    --orangeCardBadge-color:#fa7901;
    --pinkCardBadge-color:#ee2b8b;
    --blueCardBadge-color:#00adee;
    --greenCardBadge-color:#b4bd00;
    --greyBadge-color:#65656ef3;
    



    /* Below One Heading font sizes for extra small, small, medium , large, extra large, extra extra large */
    --h5-font-size:0.8rem;
    --h4-font-size:1.6rem;
    --h3-font-size:2.4rem;
    --h2-font-size:3.2rem;
    --h1-font-size:4.8rem;

    /* Below One Text Utilities font sizes for extra small, small, medium , large, extra large, extra extra large */
    --text-xs-font-size:0.8rem;
    --text-sm-font-size:1.6rem;
    --text-md-font-size:2.4rem;
    --text-lg-font-size:3.2rem;
    --text-xl-font-size:4.8rem;
    
   
    --imgRoundRadius:50%;
    /* Below One padding size for extra small, small, medium , large, extra large, extra extra large */
    --pad-xs:0.8rem;
    --pad-sm:1.6rem;
    --pad-md:2.4rem;
    --pad-lg:3.2rem;
    --pad-xl:4rem;
    --pad-xxl:6.4rem;
    --pad-infinite:10rem;

    /* Below One margin size for extra small, small, medium , large, extra large, extra extra large */
    --mar-xs:0.8rem;
    --mar-sm:1.6rem;
    --mar-md:2.4rem;
    --mar-lg:3.2rem;
    --mar-xl:4rem;
    --mar-xxl:6.4rem;
    --mar-infinite:10rem;

    --sm-border-radius:0.5rem;
    --md-border-radius:1rem;
    --lgborder-radius:1.5rem;
    --xl-border-radius:50%;

    --futuraPTBold:'Nunito', sans-serif;
    --futuraPTDemi:'Nunito', sans-serif;
    --futuraPTMedium:'Nunito', sans-serif;
    --futuraPTLight:'Nunito', sans-serif;

}